<div id="<%= dom_id money_expense %>">

  <article>

    <div class="grid">
      
      <div>
        <p>
          <strong>Preis:</strong>
          <%= money_expense.price %>
        </p>
      </div>
    
      <div>
        <p>
          <strong>Kategorie:</strong>
          <%= money_expense.category %>
        </p>
      </div>
    
      <div>
        <p>
          <strong>Kommentar:</strong>
          <%= money_expense.comment %>
        </p>
      </div>

    </div>

  </article>

</div>
