<div id="<%= dom_id money_expense %>">

  <div class="container text-center">

    <div class="row">
      
      <div class="col">
        <p>
          <strong>Preis:</strong>
          <%= money_expense.price %>
        </p>
      </div>
    
      <div class="col">
        <p>
          <strong>Kategorie:</strong>
          <%= money_expense.category %>
        </p>
      </div>
    
      <div class="col">
        <p>
          <strong>Kommentar:</strong>
          <%= money_expense.comment %>
        </p>
      </div>

    </div>

  </div>
</div>