<p style="color: green"><%= notice %></p>

<h1>Ausgaben</h1>

<%= button_to "Neue Ausgabe", new_money_expense_path, method: :get, class: "contrast outline btn-small btn-success", role: "button" %>

<div id="money_expenses">
  <table>

    <thead>
      <tr>
        <th scope="col" style="widht: 15%">Preis</th>
        <th scope="col" style="widht: 65%">Kategorie</th>
        <%
=begin%>
 <th scope="col" style="widht: 20%">Kommentar</th> 
<%
=end%>
        <th scope="col" style="widht: 20%">Actions</th>
      </tr>
    </thead>

    <tbody>
    <% @money_expenses.each do |expense| %>
      
     <tr>
        <%= render expense %>
      </tr> 
    </tbody>

    <% end %>
  </table>
</div>

